<div class="row">
    <div class="col-md-10">
        <h3>{{product.name}}</h3>
        <img src="{{product.pictureLink}}" class="img-thumbnail">
        <dl class="dl-horizontal">
            <dt>Description: </dt>
            <dd>{{product.description}}</dd>
            <dt>Price:</dt>
            <dd>{{product.price}} <i class="fa fa-usd"></i></dd>
        </dl>
        <button ng-if="authenticated" class="btn btn-default" role="button" ng-click="cart.addItem(product)">Add to Cart</button>
    </div>
</div>